<div id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}" class="card mb-4">
    <div class="card-body">
        <!-- <div class="small text-muted">January 1, 2022</div>
        <h2 class="card-title">Featured Post Title</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
         -->
         
        <div class="mb-4">
            <span class="badge rounded-pill text-bg-primary">Q {{ question.qno }}</span><br>
            <span class="badge rounded-pill text-bg-primary">{{ question.type | upcase }}</span>
            <span class="badge rounded-pill text-bg-primary">Marks: {{ question.marks }}</span><br>
            <span class="badge rounded-pill text-bg-primary">{{ question.section | upcase }}</span>
        </div>

        {{ question.content }}

        {% if question.type == "mcq" or question.type == "msq" %}
        <div id="options" class="list-group mb-4">
            <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-a" class="list-group-item list-group-item-action">
                {% if question.option_a contains 'png' %}
                <img src="/assets/images/{{ question.option_a }}"></img>
                {% else %}
                {{ question.option_a }}
                {% endif %}
            </button>
            <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-b" class="list-group-item list-group-item-action">
                {% if question.option_b contains 'png' %}
                <img src="/assets/images/{{ question.option_b }}"></img>
                {% else %}
                {{ question.option_b }}
                {% endif %}
            </button>
            <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-c" class="list-group-item list-group-item-action">
                {% if question.option_c contains 'png' %}
                <img src="/assets/images/{{ question.option_c }}"></img>
                {% else %}
                {{ question.option_c }}
                {% endif %}
            </button>
            <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-d" class="list-group-item list-group-item-action">
                {% if question.option_d contains 'png' %}
                <img src="/assets/images/{{ question.option_d }}"></img>
                {% else %}
                {{ question.option_d }}
                {% endif %}
            </button>
        </div>
        {% endif %}

        {% if page.collection == 'exams' %}
        <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-submit-answer" class="btn btn-success disabled submit-answer">Submit</button>
        <button id="{{ question.year }}-{{ question.set }}-{{ question.qno }}-{{ question.type }}-{{ question.answer }}-clear-answer" class="btn btn-light clear-answer">Clear</button>
        <a class="btn btn-link float-end" href="{{ question.url }}">Discuss Question →</a>
        
        {% endif %}
    </div>
</div>

