---
layout: two-cols
---

<header class="mb-4">
    <h1 class="fw-bolder mb-1">{{ page.title }} - Set {{ page.set }}</h1>
</header>

<section class="mb-5" id="questions">
    {% assign questions = site.questions | sort: "qno" %}

    <h2>General Aptitude Section</h2><br>
    {% for question in questions %}
    {% if page.year == question.year and page.set and page.set == question.set and question.section == "aptitude" %}
    {% include question_box.html %}
    {% endif %}
    {% endfor %}

    <h2>Technical Section</h2><br>

    {% for question in questions %}
    {% if page.year == question.year and page.set and page.set == question.set and question.section == "technical" %}
    {% include question_box.html %}
    {% endif %}
    {% endfor %}

</section>

<!-- Comments section-->
{% comment %}
{% include comments.html %}
{% endcomment %}
<script>

        selectedAnswers = {};

        const options = document.getElementById('questions');
        options.addEventListener('click', (event) => {

            // Check if only button is clicked
            const isButton = event.target.nodeName === 'BUTTON';
            if (!isButton) {
                return;
            }

            dataFromButton = event.target.id.split("-");
            mcq_options = ['a', 'b', 'c', 'd'];

            if (event.target.classList.contains("submit-answer")) {

                if (dataFromButton[3] == "mcq" || dataFromButton[3] == "msq") {
                    selectedAnswer = selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];
                    if (selectedAnswer.length == dataFromButton[4].length) {
                        for (var i = 0; i < dataFromButton[4].length; i++) {
                            if (!selectedAnswer.includes(dataFromButton[4].charAt(i))) {
                                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border-success")
                                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.add("border", "border-5", "border-danger")
                                return;
                            }
                        }
                        document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border-danger")
                        document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.add("border", "border-5", "border-success")
                    } else {
                        document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border-success")
                        document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.add("border", "border-5", "border-danger")
                        return;
                    }
                    
                } 

            } else if (event.target.classList.contains("clear-answer")) {

                // Remove all selected options
                mcq_options.forEach((e, i) => {
                    document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-" + e).classList.remove("active");
                });

                // Remove selected answer
                delete selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];

                // Remove border
                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border", "border-5", "border-danger")
                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border", "border-5", "border-success")
            } else {

                if (dataFromButton[3] == "mcq") {

                    // Set active class
                    mcq_options.forEach((e, i) => {
                        if (dataFromButton[5] == e) {
                            if (event.target.classList.contains("active")) {
                                delete selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];
                                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-" + e).classList.remove("active");
                            } else {
                                selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]] = e
                                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-" + e).classList.add("active")
                            }
                        } else {
                            document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-" + e).classList.remove("active");
                        }
                    });
                } else if (dataFromButton[3] == "msq") {
                    if (event.target.classList.contains("active")) {
                        
                        // delete selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];
                        event.target.classList.remove("active");
                        if (dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] in selectedAnswers) {
                            var tmp = selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];
                            selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]] = tmp.replace(dataFromButton[5], "");
                        }
                        
                    } else {
                        event.target.classList.add("active");

                        if (dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] in selectedAnswers) {
                            tmp = selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]];
                            selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]] = tmp + dataFromButton[5];
                        } else {
                            selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2]] = dataFromButton[5];
                        }
                    }
                }

                if (dataFromButton[0]+"-"+dataFromButton[1]+"-"+dataFromButton[2] in selectedAnswers) {
                    document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-submit-answer").classList.remove("disabled");
                } else {
                    document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-submit-answer").classList.add("disabled");
                }
            }
        });


</script>