---
layout: two-cols
---

<header class="mb-4">
    <h1 class="fw-bolder mb-1">{{ page.title }} - Set {{ page.set }}</h1>
</header>

<section class="mb-5" id="questions">
    {% assign questions = site.questions | sort: "qno" %}

    <h2>General Aptitude Section</h2><br>
    {% for question in questions %}
    {% if page.year == question.year and page.set and page.set == question.set and question.section == "aptitude" %}
    {% include question_box.html %}
    {% endif %}
    {% endfor %}

    <h2>Technical Section</h2><br>

    {% for question in questions %}
    {% if page.year == question.year and page.set and page.set == question.set and question.section == "technical" %}
    {% include question_box.html %}
    {% endif %}
    {% endfor %}
</section>

<!-- Comments section-->
{% comment %}
{% include comments.html %}
{% endcomment %}
<script>

    selectedAnswers = {};
    MCQ_OPTIONS = ['a', 'b', 'c', 'd']

    function updateNumericAnswer(id, value) {
        data = id.split("-");
        submittedAnswers = data[4].split(",");
        if (submittedAnswers[0] <= value && value <= submittedAnswers[1]) {
            selectedAnswers[data[0] + "-" + data[1] + "-" + data[2] + "-" + data[3] + "-" + data[4]] = true;
        } else {
            selectedAnswers[data[0] + "-" + data[1] + "-" + data[2] + "-" + data[3] + "-" + data[4]] = false;
        }

        if (value != "") {
            document.getElementById(data[0] + "-" + data[1] + "-" + data[2] + "-" + data[3] + "-" + data[4] + "-submit-answer").classList.remove("disabled");
        } else {
            document.getElementById(data[0] + "-" + data[1] + "-" + data[2] + "-" + data[3] + "-" + data[4] + "-submit-answer").classList.add("disabled");
        }
    }

    const options = document.getElementById('questions');

    options.addEventListener('click', (event) => {

        // Check if only button is clicked
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }

        dataFromButton = event.target.id.split("-");

        if (event.target.classList.contains("submit-answer")) {

            qbox = document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]);

            if (dataFromButton[3] == "mcq" || dataFromButton[3] == "msq") {

                selectedAnswer = selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]];
                if (selectedAnswer == undefined) {
                    return;
                }
            
            } else if (dataFromButton[3] == "nat") {
                inputAnswer = document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-input").value;
                natAnswerRange = dataFromButton[4].split(",");
                if (inputAnswer >= natAnswerRange[0] && inputAnswer <= natAnswerRange[1]) {
                    selectedAnswer = true;
                } else {
                    selectedAnswer = false;
                }
            }

            if (selectedAnswer == false) {
                qbox.classList.add("border", "border-4", "border-danger");
                qbox.classList.remove("border-success");
            } else {
                qbox.classList.add("border", "border-4", "border-success");
                qbox.classList.remove("border-danger");
            }

        } else if (event.target.classList.contains("clear-answer")) {
            delete selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]];
            document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]).classList.remove("border", "border-4", "border-success", "border-danger");
            document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-submit-answer").classList.add("disabled");
        } else {

            if (dataFromButton[3] == "mcq") {

                if (dataFromButton[4] == dataFromButton[5]) {
                    answer = true;
                } else {
                    answer = false;
                }
                selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]] = answer;
                
                // Remove all active.
                MCQ_OPTIONS.forEach((e) => {
                    document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + '-' + e).classList.remove('active');
                });
                // Set current pressed button as active.
                event.target.classList.toggle('active');

            } else if (dataFromButton[3] == "msq") {

                event.target.classList.toggle('active');

                // Get all selected answers.
                selectedOptions = "";
                MCQ_OPTIONS.forEach((e) => {
                    if (document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + '-' + e).classList.contains('active')) {
                        selectedOptions += e;
                    }
                });

                // Check if answer is wrong or right.
                answer = true;
                MCQ_OPTIONS.forEach((e) => {
                    if (selectedOptions.includes(e) ^ dataFromButton[4].includes(e) == 1) {
                        answer = false; 
                    }
                });
                selectedAnswers[dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4]] = answer;
            }

            // Enable/Disable submit answer button.
            if (dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] in selectedAnswers) {
                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-submit-answer").classList.remove("disabled");
            } else {
                document.getElementById(dataFromButton[0] + "-" + dataFromButton[1] + "-" + dataFromButton[2] + "-" + dataFromButton[3] + "-" + dataFromButton[4] + "-submit-answer").classList.add("disabled");
            }
            
        }
    });


</script>