---
layout: default
---

<section class="py-4">
    <div class="container px-4 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">

                <!-- Author Name -->
                <!-- <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">Valerie Luna</div>
                        <div class="text-muted">News, Business</div>
                    </div>
                </div> -->

                <!-- Topics -->
                <!-- <div class="card mt-lg-5 mb-4 shadow-sm mb-5 bg-body border-0">
                    <div class="card-body bg-light rounded bg-dark">
                        <ul class="list-unstyled mb-0 text-end">
                            {% for post in site.learn %}
                            {% if post.subject == page.subject %}
                            <li class="p-2"><a href="{{ post.url }}" class="text-white">{{ post.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div> -->

            </div>

            <div class="col-lg-9">
                {{ content }}
            </div>
        </div>
    </div>
</section>